<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
{{ partial "meta.html" . }}
    <title>{{ if $.Scratch.Get "custom_title" }}{{ $.Scratch.Get "custom_title" }}{{ else }}{{ .Title }}{{ end }} | {{ .Site.Title }}</title>
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/apple-touch-icon.png" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/nav.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400|Inconsolata" />
    <link rel="canonical" href="{{ .Permalink }}" />
</head>
<body>
    <header class="main-header post-head no-cover">
        <section class="vertical inner">
            <h1 class="page-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <h2 class="page-description">{{ .Site.Params.tagline }}</h2>
        </section>
{{ partial "navigation.html" . }}
    </header>
    <div class="site-wrapper">
        <main id="content" class="content" role="main">
            <article class="post">
                <h1 class="post-title">{{ .Title }}</h1>